// Import page-specific CSS files here.
@import "home";
.container-main {
  padding: 0;
}

.row {
  width: 100%;
}

.column {
  width: 50%;
}
// Show Modal
.modal-body {
    padding: 0 50px;
}

.carousel-item {
  img {
    width: 100%;
    // object-fit: cover;

      
    @media (min-width: 576px) {
      height: 400px;
    }
  }
}

.carousel-item {
    background-size: cover;
    background-position: center;
}

.content-wrapper {
  width: 100%;
  border-bottom: 1px solid #656565;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.card-owner {
  width: 40px;
}

#map {
	height: 100vh;
	position: sticky;
  top: 0px;
  margin-top: 67px;
  margin-left: 30px;
  width: 100%;
}