.container-reservations-page {
    margin: 20px 100px 50px;
}

.cards-reservations {
	display: grid;
	grid-template-columns: 1fr;
	flex-grow: 1;
    padding: 16px;
    padding-left: 0;
    a {
        text-decoration: none;
    }
}
