<div class="container d-flex card mt-3">
  <div class="card-body">
    <h5 class="card-title"><%= @bike.title %></h5>
  </div>
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <p class="card-text"><%= @bike.description %></p>
  </div>
  <div class="card mb-3 w-25 text-right ml-auto">
   <div class="card-body ">
    <h5 class="card-title"><%= @bike.price %> / day</h5>
     <p>Booking dates.</p>
    </div>
    <a href="#" class="btn btn-primary">Book me now!</a>
  </div>
</div>
</div>
